* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: black;
}

div {
  color: rgba(255, 255, 255, 0.8);
  margin: 50px auto;
  font-size: 40px;
  border-left: 2px solid rgba(255, 255, 255, 0.8);
  overflow: hidden;
  white-space: nowrap;
  animation: control-width 6s steps(37) 1s both, blink 1s infinite;
  direction: rtl;
}

@keyframes control-width {
  from {
    width: 0;
  }

  to {
    width: 500px;
  }
}

@keyframes blink {
  from {
    border-left-color: rgba(255, 255, 255, 0.8);
  }

  to {
    border-left-color: transparent;
  }
}